*.iml
.gradle
/local.properties
/.idea/caches
/.idea/compiler.xml
/.idea/misk.xml
/.idea/gradle.xml
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/usage.statistics.xml
/.idea/tasks.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.idea/deploymentTargetDropDown.xml
